<a href="https://colab.research.google.com/github/Shubham-Das-Coder/Machine_Learning_Course_With_Python/blob/main/Python_Special_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#***Lists***

In [1]:
my_list=[1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [2]:
my_list=[45,99.99,"Shubham",True]
print(my_list)
type(my_list)

[45, 99.99, 'Shubham', True]

list

In [3]:
my_list=[45,99.99,"Shubham",True]
my_list.append("Python")
print(my_list)

[45, 99.99, 'Shubham', True, 'Python']

In [4]:
print(my_list[1])
print(my_list[4])
print(my_list[2])
print(my_list[3])

99.99
Python
Shubham
True

In [5]:
list_1=[1,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9]
print(list_1)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9]

In [6]:
print(len(list_1))

18

In [7]:
list_2=[]
print(list_2)

[]

In [8]:
list_2.append(50)
print(list_2)

[50]

In [9]:
list_2=[45, 99.99, 'Shubham', True, 'Python']
print(list_2)
del list_2[4]
print(list_2)

[45, 99.99, 'Shubham', True, 'Python']
[45, 99.99, 'Shubham', True]

In [10]:
list_3=[1,3,5,7,9]
list_4=[2,4,6,8]
list_5=list_3 + list_4
list_6=list_4 + list_3
print(list_5)
print(list_6)

[1, 3, 5, 7, 9, 2, 4, 6, 8]
[2, 4, 6, 8, 1, 3, 5, 7, 9]

#***Tuples***

In [11]:
tuple_1=(1,2,3,4,5)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4, 5)

tuple

In [12]:
tuple_2=(99,"Machine Learning",False)
print(tuple_2)

(99, 'Machine Learning', False)

In [13]:
my_list=[1,2,3,4,5]
print(my_list)

my_tuple=tuple(my_list)
print(my_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [14]:
print(my_tuple[0])
print(my_tuple[2])
print(my_tuple[4])

1
3
5

In [15]:
print(len(my_tuple))

5

#***Set***

In [16]:
my_set={1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [17]:
lst=[1,3,5,7,9]
x=set(lst)
print(x)

{1, 3, 5, 7, 9}

In [18]:
set_3={1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9}
print(set_3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#***Dictionary***

In [19]:
my_dict={"name":"Shubham","age":19,"country":"India"}
print(my_dict)
type(my_dict)

{'name': 'Shubham', 'age': 19, 'country': 'India'}

dict

In [20]:
print(my_dict["name"])
print(my_dict["age"])
print(my_dict["country"])

Shubham
19
India

In [21]:
dict_2={"name":"Shubham","age":19,"country":"India","name":"Shubham","age":19,"country":"India"}
print(dict_2)

{'name': 'Shubham', 'age': 19, 'country': 'India'}